include mocap/data/h36m/labels/*.zip
include mocap/data/amass/*.txt
include mocap/data/cmu_eval/test/basketball/*.txt
include mocap/data/cmu_eval/test/basketball_signal/*.txt
include mocap/data/cmu_eval/test/direction_traffic/*.txt
include mocap/data/cmu_eval/test/jumping/*.txt
include mocap/data/cmu_eval/test/running/*.txt
include mocap/data/cmu_eval/test/soccer/*.txt
include mocap/data/cmu_eval/test/walking/*.txt
include mocap/data/cmu_eval/test/walking_extra/*.txt
include mocap/data/cmu_eval/test/washwindow/*.txt
include mocap/data/cmu_eval/train/basketball/*.txt
include mocap/data/cmu_eval/train/basketball_signal/*.txt
include mocap/data/cmu_eval/train/direction_traffic/*.txt
include mocap/data/cmu_eval/train/jumping/*.txt
include mocap/data/cmu_eval/train/running/*.txt
include mocap/data/cmu_eval/train/soccer/*.txt
include mocap/data/cmu_eval/train/walking/*.txt
include mocap/data/cmu_eval/train/walking_extra/*.txt
include mocap/data/cmu_eval/train/washwindow/*.txt
